root {
  --color-brand: #e91e63;
  --color-link: #1971c2;
  --color-brand-rgb: 233, 30, 99;
  --color-black: #172b4d;
  --color-white: #fff;
  --color-gray-0: #fbfbfb;
  --color-gray-1: #f4f5f7;
  --color-gray-2: #eaecef;
  --color-gray-3: #cbcdd4;
  --sidebar-width: 18rem;
  --border-radius-md: 6px;
}
