.top-navigation-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  div:nth-child(1) {
    display: flex;
    gap: 0.5em;

    .top-mobile {
      display: none;
      cursor: pointer;

      @media (max-width: 768px) {
        display: block;
      }
    }
  }

  div:nth-child(2) {
    display: flex;
    gap: 0.5em;
    align-items: center;
  }

  .top-right {
    display: flex;
    gap: 30em;
    align-items: center;
    justify-content: center;

    .icon {
      cursor: pointer;
    }

    .top-profile {
      display: flex;
      gap: 0.5em;
      align-items: center;

      .top-navigation-circle {
        width: 30px;
        height: 30px;
        clip-path: circle();
        background-color: #182a4d;
        cursor: pointer;
      }
    }
  }
}
